@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../../Welcome/Images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  color: white;
  text-align: center;
  line-height: 1;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 3%;
}

header {
  width: 14%;
}

header img {
  width: 100%;
}

main h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-top: 3%;
  padding-bottom: 2%;
}

.text-div p {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 3%;
}

main form {
  margin-top: 2%;
}

.just-p p {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-top: 8%;
}

.input-comment {
  background-color: transparent;
  appearance: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 0;
  border-color: #c2128d;
  padding-top: 2%;
  padding-bottom: 1%;
  width: 66%;
  color: white;
}

#btn {
  color: #0b113b;
  background-color: #00ffff;
  border: none;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  margin-top: 5%;
  box-shadow: 1px 1px 20px 1px #00ffff;
  cursor: pointer;
}

#btn:disabled {
  box-shadow: none;
  background-color: grey;
}

.star {
  width: 5%;
  padding-left: 1%;
  color: #0b113b;
  filter: grayscale(1);
  cursor: pointer;
}

::placeholder {
  text-align: start;
  color: grey;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.div-input {
  width: 100%;
}

.div-input input {
  width: 50%;
  outline: none;
}

input {
  cursor: pointer;
}

.div-input button {
  cursor: pointer;
}

.button-div {
  border-top: 2px solid #c2128d;
  margin: 0 17% 0;
}

.stars-on {
  filter: none;
}

#btn:disabled {
  box-shadow: none;
  background-color: grey;
}
.div-input button {
  background-color: #c2128d;
  border: none;
  width: 11%;
  height: 2em;
  margin-left: 4%;
  color: white;
  background: linear-gradient(45deg, #6a2775, #c2128d);
  box-shadow: -1px -3px 12px 1px #6d097f;
}

.smile {
  margin-left: 4%;
}

.smile i {
  padding: 1% 3.5% 0 0;
}

.fa-frown {
  color: rgb(255, 0, 0);
}
.fa-meh {
  color: #fdf400;
}
.fa-smile {
  color: rgb(30, 255, 0);
}
