@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

body {
  background-image: url("../../Welcome/Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

header {
  width: 14%;
}
header img {
  width: 100%;
}
#container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 3%;
}

main {
  text-align: center;
}

header + div {
  text-align: center;
}
h1 {
  font-size: 50px;
  padding-bottom: 10px;
}
h2 {
  font-size: 35px;
}
.bold {
  font-weight: bold;
}
#grades {
  height: 47vh;
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
}
.grade {
  display: inline-block;
  width: 27.9%;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  padding-top: 110px;
}

.grade:nth-of-type(2) {
  width: 350px;
  position: relative;
  text-align: center;
}
.grade > div {
  display: inline-block;
  margin: auto;
}

.grade:nth-of-type(3) {
  text-align: center;
}

.grade:nth-of-type(3) h2,
.grade:nth-of-type(3) p {
  color: rgba(255, 255, 255, 0.733);
}
.pie {
  --w: 150px;
  width: 100%;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  height: 15vh;
}
.pie:before {
  content: "";
  position: absolute;
  border-radius: 60%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), #02fefe 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  height: 350px;
  width: 350px;
}

#btn-rateus {
  text-align: center;
}
#btn-rateus button {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  border: white 2px solid;
  box-shadow: 1px 1px 30px 1px rgba(0, 255, 225, 0.445);
  padding: 15px 60px;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 4%;
}

.pie p {
  font-size: 15px;
  line-height: 1.5;
  width: 50%;
  margin: auto;
}
.pie p:nth-child(2) {
  color: #02fefe;
}
.pie p:nth-child(3) {
  margin-top: 20px;
  font-size: 15px;
}

.evaluation {
  margin-top: 45%;
}

.evaluation p {
  padding-top: 10px;
}

.text-inner-pie {
  margin-top: 10px;
  height: 230px;
  width: 350px;
}
