@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3% 0 0 8%;
  font-family: "Outfit", sans-serif;
  color: white;
}

header {
  width: 15%;
}

header img {
  width: 100%;
}

.instructions {
  margin-top: 7%;
}

.instructions h1 {
  font-size: 60px;
  padding-bottom: 2%;
}

.instructions h2 {
  color: #c2128d;
  font-size: 25px;
  padding-bottom: 1%;
}

.unordered-list {
  margin-top: 5%;
}

p,
ul {
  font-size: 16px;
  font-weight: 200;
  font-family: "Outfit", sans-serif;
}
