@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3% 8% 0 8%;
  font-family: "Outfit", sans-serif;
  color: white;
}

header {
  width: 10%;
}

header img {
  width: 100%;
}

.instructions {
  margin-top: 7%;
}

.instructions h1 {
  font-size: 60px;
  padding-bottom: 2%;
}

.instructions h2 {
  color: #c2128d;
  font-size: 25px;
  padding-bottom: 1%;
}

.unordered-list {
  margin-top: 3%;
  padding-left: 1.8%;
}

p,
ul {
  font-size: 16px;
  font-weight: 200;
  font-family: "Outfit", sans-serif;
}

ul {
  margin-left: 1%;
}

ul li {
  line-height: 1.5;
  list-style-type: disc;
}

.checkbox {
  margin-top: 5.5%;
}

.checkbox input {
  height: 20px;
  width: 2%;
  vertical-align: middle;
   appearance: none;
   border: 1px solid white;
}
.checkbox input:checked {
  appearance: auto;
  
}
.checkbox span {
  padding-left: 1%;
}

#btn-1 {
  background-color: #00ffff;
  color: #0b113b;
  font-weight: bold;
  border: none;
  font-size: 25px;
  padding: 20px 60px;
  margin-left: 24%;
  box-shadow: 1px 1px 30px 4px #00ffff;
}

#btn-1:disabled {
  box-shadow: none;
  background-color: grey;
}

span {
  font-weight: 400;
}
