@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../Images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 3%;
}

.logo {
  width: 155px;
  height: 3px;
}

.logo img {
  width: 180px;
}

.timer {
  position: relative;
  width: 150px;
  margin-left: auto;
}

.pie {
  --w: 150px;
  width: 100%;
  aspect-ratio: 1;
  place-content: center;
  text-align: center;
}

.pie p {
  font-size: 13px;
}

.pie span {
  font-size: 4vh;
}

.counter {
  padding-top: 46px;
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 60%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), #02fefe 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

main h1 {
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  margin-top: 4%;
}

main span {
  font-weight: 600;
}

.answers-box {
  text-align: center;
  margin-top: 5%;
}

.answers-box .answers p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  color: white;
}

.answers {
  display: inline-block;
  height: 8vh;
  width: 35%;
  margin: 0 3% 4%;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50px;
  border-left: 1px solid white;
  box-shadow: -1px -2px 2px 0px #f5f5f5;
  cursor: pointer;
}

.answers button {
  background-color: initial;
  border: none;
  margin-top: 5%;
  cursor: pointer;
}

.questions-counter {
  margin-top: 2%;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.questions-counter span {
  color: #c2128d;
}

.selected-answer {
  background-color: #c2128d;
}

#btn-next {
  width: 19%;
  height: 35px;
  background-color: inherit;
  color: white;
  border: 1px solid grey;
  font-size: 16px;
  font-family: "Outfit";
  font-weight: 600;
  box-shadow: 1px 2px 15px 7px rgb(123 84 193);
  margin: 3%;
  cursor: pointer;
}
